@font-face {
  font-family: "Bold";
  src: url("fonts/PPNeueMontreal-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Book";
  src: url("fonts/PPNeueMontreal-Book.otf") format("opentype");
}
@font-face {
  font-family: "Italic";
  src: url("fonts/PPNeueMontreal-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Medium";
  src: url("fonts/PPNeueMontreal-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SemiBoldItalic";
  src: url("fonts/PPNeueMontreal-SemiBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Thin";
  src: url("fonts/PPNeueMontreal-Thin.otf") format("opentype");
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-left: 1rem;
  padding-top: 2rem;
}
body nav {
  position: fixed;
  top: 25%;
  transform: translateY(-50%);
  right: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px 0 0 5px;
  gap: 0.5rem;
}
body nav a {
  color: white;
  font-size: 1.2rem;
}

section {
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Thin", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Medium", sans-serif;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

h2 {
  font-family: "Book", sans-serif;
  line-height: 1.2rem;
  letter-spacing: 1px;
}

p {
  font-family: "Medium", sans-serif;
  line-height: 1.2rem;
  letter-spacing: 1px;
}

.social-link:hover {
  transform: scale(1.2);
}

.nav-buttons {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  font-family: Thin, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  border-radius: 0 0 0 5px;
}

.nav-buttons a {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-buttons a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.section-header {
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  padding: 0.5rem;
  width: fit-content;
}

.project-images {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px;
}

.project {
  width: 80vw;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  max-width: 500px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-link {
  color: black;
  display: inline-block;
  margin-right: 2rem;
}

.project-link:hover {
  transform: scale(1.2);
}

#about-text {
  width: 80vw;
  max-width: 700px;
  font-family: "Book", sans-serif;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

#skills-parent-container {
  display: flex;
  width: 80vw;
  max-width: 1000px;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#skills-text {
  font-size: 1.5rem;
  width: 80%;
  line-height: unset;
}
#skills-text span {
  font-family: Thin, sans-serif;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
